_site/
.quarto/
*.pyc
__pycache__/
.DS_Store
equations/
content/
images/image[0-9]*.png
!images/image1.png
!images/image7.png
!images/image8.png

/.quarto/
**/*.quarto_ipynb

# Large PPTX files
*.pptx
