/* Slides custom styles */
.reveal .slide-number {
  font-size: 0.7em;
}

.reveal section {
  font-size: 0.85em;
}

.reveal h2 {
  font-size: 1.4em;
  color: #003366;
}

.reveal table {
  font-size: 0.8em;
}
